<html>
	<head>
		<title>$action.getText("de.edrup.confluence.plugins.tree-view.unwatch.confirmation.title")</title>
	</head>

	<body>
    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("mode" "view-information")
        #decoratorParam("context" "page")

        #applyDecorator ("confirm")
            #decoratorParam ("formName" "bigtreeunwatchform")
            #set($caller = $req.getParameter("caller"))
            #if($caller.equals("profile"))
            	#decoratorParam ("formAction" "dounwatch-tree-from-profile.action?pageId=$page.id")
            #else
            	#decoratorParam ("formAction" "dounwatch-tree.action?pageId=$page.id")
            #end

            <p>
            $action.getText("de.edrup.confluence.plugins.tree-view.unwatch.confirmation.message.part1")
            $action.getTreeSize()
            $action.getText("de.edrup.confluence.plugins.tree-view.unwatch.confirmation.message.part2")
            </p>

        #end

		#parse ( "/pages/page-breadcrumbs.vm" )
    #end

	</body>
</html>