#set ($helper = $params.get("helper"))##

<html>
	<head>
 		<meta name="decorator" content="atl.admin"/>
		<meta name="help-path" content=$action.getText("de.edrup.confluence.plugins.tree-view.configuration.help")/>
		<title>$action.getText("de.edrup.confluence.plugins.tree-view.configuration.title")</title>
	</head>

	<body>
		#parse ( "/template/includes/actionmessages.vm" )
		#parse ( "/template/includes/actionerrors.vm" )

		<form class="aui top-label" method="POST" action="viewconfig.action">
			<fieldset class="top-label">
				<div class="field-group top-label">
					<label for="addedHeader">$action.getText("de.edrup.confluence.plugins.tree-view.configuration.label.header.added")</label>
					<textarea class="textarea full-width-field" name="addedHeader" rows="1">$action.getConfiguration().getAddedMailHeader()</textarea>
				</div>
				<div class="field-group top-label">
					<label for="addedBody">$action.getText("de.edrup.confluence.plugins.tree-view.configuration.label.body.added")</label>
					<textarea class="textarea full-width-field" name="addedBody" rows="5"">$action.getConfiguration().getAddedMailBody()</textarea>
				</div>
				<div class="field-group top-label">
					<label for="movedOutHeader">$action.getText("de.edrup.confluence.plugins.tree-view.configuration.label.header.movedOut")</label>
					<textarea class="textarea full-width-field" name="movedOutHeader" rows="1">$action.getConfiguration().getMovedOutMailHeader()</textarea>
				</div>
				<div class="field-group top-label">
					<label for="movedOutBody">$action.getText("de.edrup.confluence.plugins.tree-view.configuration.label.body.movedOut")</label>
					<textarea class="textarea full-width-field" name="movedOutBody" rows="5">$action.getConfiguration().getMovedOutMailBody()</textarea>
				</div>
				<div class="checkbox">
            		<input class="checkbox" type="checkbox" name="conditionalWatch" id="conditionalWatch"  #if ( $action.getConfiguration().getConditionalWatch() ) checked="checked" #end>
            		<label for="conditionalWatch">$action.getText("de.edrup.confluence.plugins.tree-view.configuration.label.conditionalWatch")</label>
        		</div>
        		<div class="description">$action.getText("de.edrup.confluence.plugins.tree-view.configuration.desc.conditionalWatch")</div>
        		#form_xsrfToken()
			</fieldset>
			<div class="field-group">
        		<input type="submit" value='$action.getText("de.edrup.confluence.plugins.tree-view.configuration.submit")' class="button">
      		</div>
		</form>

		#parse("/breadcrumbs.vm")

	</body>
</html>